@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --color-primary: #4f46e5;
  --color-secondary: #6366f1;
  --color-background: #f5f7fa;
  --color-text: #111827;
  --color-card: #fefcfa;
  --color-border: #e5e7eb;
  --color-lightest: #B8E3E9;
  --color-light: #93B1B5;
  --color-mid: #4F7C82;
  --color-dark: #0B2E33;
  --color-darkest: #190019;
  --color-mid-dark: #522B5B;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
